<app-menu></app-menu>
<div class="container">
  <form [formGroup]="this.tipoCondicionanteForm">
    <mat-card class="box">
      <h3>Cadastrar Tipo de condicionante</h3>
          <mat-form-field style="width:85%">
            <mat-label>Descri&ccedil;&atilde;o</mat-label>
            <textarea matInput formControlName="descricao"></textarea>
          </mat-form-field>
          <div>
            <button mat-stroked-button color="warn" (click)="this.salvar()">Cadastrar</button>
        </div>
    </mat-card>
    </form>
</div>