<app-menu></app-menu>
<div class="container">
    <mat-card class="box" style="width:800px;height:500px;background-color: #f7f7f7 !important;">
        <div fxLayout="row">
        <div align="center">
            <img src="assets/images/logo.png" style="width:300px"/>
        </div>
        <div>
            O Siga - Sistema Integrado de Gestão Ambiental é uma proposta de arquitetura,
            foi desenvolvido para o trabalho de conclusão de curso de Pós-Graduação em Arquitetura 
            de <i>Software</i> Distribuído, ministrado pela PUC-Minas
        </div>
        </div>
    </mat-card>
</div>