<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>SGA - Sistema de Gestão Ambiental</title>
       <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    </head>
    <body>
        <div th:if="${param.error}">
           Nome de usu&aacute;rio e senha inválidas.
        </div>
        <div th:if="${param.logout}">
            Você foi deslogado
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Usu&aacute;rio: <input type="text" name="username"/> </label></div>
            <div><label> Senha: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>