<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SIGA - Sistema Integrado de Gest&atilde;o Ambiental</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<script src="@{/js/bootstrap.min.js}"></script>
<body>
	<div class="container h-100 d-flex justify-content-center">
		<div class="loginContainer card shadow-sm my-auto text-center">
			<div class="card-body">
				<div th:if="${param.error}" class="erro">Nome de usu&aacute;rio e senha
					inv&aacute;lidas.</div>
				<div th:if="${param.logout}" class="erro">Você foi deslogado</div>
				<form th:action="@{/login}" method="post">
					<div>
						<img th:src="@{/images/logo.png}" style="width:450px;height:200px">
					</div>
					<div>
						<label> Usu&aacute;rio: <input type="text" name="username" />
						</label>
					</div>
					<div>
						<label style="margin-left: 12px">Senha: <input type="password" name="password" />
						</label>
					</div>
					<div>
						<input type="submit" value="Entrar" class="btn btn-primary" />
						<input type="button" value="Esqueci minha senha" class="btn btn-primary"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>